.container {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 100px;
	background-color: rgba(10, 25, 47, 0.95) ;
	font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
	transition: transform 0.3s ease;
}

.container{
	font-size: 13px;
	line-height: 17px;	
}

.container a {
	padding: 10px;
	margin: 0 5px;
	cursor: pointer;
}

.counter {
	color: #64ffda;
	margin-right: 5px;
}

.title {
	color: rgb(204, 214, 246)
}

.container a:hover .title {
	color: var(--green);
}

.resumeWrapper {
	padding: 10px 12px;
	border: #64ffda 1px solid;
	color: #64ffda;
	border-radius: 4px;
	margin: 0 5px;
}

.logoContainer {
	width: 50px;
	height: 50px;
}

.sticker {
	width: 50px;
	height: 50px;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}


