@media (max-width: 768px) {
	.container {
		visibility: hidden;
	}
}

.container {
	position: fixed;
	bottom: 0;
	width: 40px;
	z-index: 10;
	color: val(--lightest-slate);
}

.left {
	left: 20px;
	right: auto;
}


.right {
	right: 20px;
	left: auto;
}

.left,
.right {
	writing-mode: vertical-rl;
	display: flex;
	align-items: center;
}

.right a {
	margin: 20px auto;
}

.left a,
.right a {
	padding: 10px;
	letter-spacing: 1.2px;
	font-size: 12px;
	line-height: 18px;
}

.left a svg {
	height: 20px;
	width: 20px;
}

.left::after,
.right::after {
	content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
		background-color: #a8b2d1;
}

.right a {
	letter-spacing: 3px;
}