@media (max-width: 600px) {
	.body {
		flex-direction: column;	
	}

	.companyList {
		display: flex;
		flex-direction: row;
	}

	.companySelected {
		border-top: 2px solid var(--green) !important;
	}

	.company {
		border-top: 2px solid var(--lightest-navy);
	}
}




@media (min-width: 601px) {
	.body {
		display: flex;
	}
	
	.companyList {
		display: flex;
		flex-direction: column;
	}
	.companySelected {
		border-left: 2px solid var(--green) !important;
	}

	.company {
		border-left: 2px solid var(--lightest-navy);
	}
}



.company {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 20px 2px;
  background-color: transparent;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
	height: 40px;
}

.company:hover {
	color: var(--green);
	background-color: var(--lightest-navy);
}

.descList {
	margin-left: 20px;
	width: 100%;
	padding: 10px 5px;;
}

.title {
	margin-bottom: 2px;
	font-size: var(--fz-xl);
	font-weight: 500;
	line-height: 1.3;
	margin: 0px 0px 10px;
	color: var(--lightest-slate);
}

.title .companyName {
	color: var(--green);
}

.range {
	margin-bottom: 25px;
	color: #788aaa;
	font-family: var(--font-mono);
	font-size: var(--fz-xs);
}

.descList ul {
	list-style: none;
	font-size: var(--fz-md);
}

.descList ul li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}

.descList ul li::before {
	content: "▹";
	position: absolute;
	left: 0px;
	color: var(--green);}

.hideDesc {
	display: none;
}